{
  "logging": {
    "LogDirectory":"log",
    "LogFileName":"worker.log"
  },
  
  "netatmo_api_auth": {
    "ClientId": "netatmo client id",
    "ClientSecret": "client secret",
    "Username": "your username",
    "Password": "password"
  }
}